<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <input type="text" class="form-control" name="username" ngModel />
  <input type="text" class="form-control" name="username2" ngModel />
  <input type="text" class="form-control" name="username3" ngModel />
  <input type="text" class="form-control" name="username4" ngModel />
  <input type="number" class="form-control" name="phone" ngModel />
  <!-- <checkbox class="form-control" name="list" ngModel></checkbox> -->
  <button type="submit">send</button>
</form>
