<div class="container">
  <div class="form-group">
    <label for="name">Server name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      [(ngModel)]="serverName"
    />
  </div>
  <button class="btn btn-primary" (click)="onCreateServer()">Add Server</button>

  <h2 class="mt-4">Server List</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let server of servers">
      <span
        class="badge"
        [ngStyle]="{ color: 'green' }"
        [ngClass]="getStatusClass()"
        >{{ server.status }}</span
      >
      <span class="ml-2"
        ><strong>{{ server.name | uppercase | shorten: 6 }}</strong>
        <strong>{{ server.name | uppercase | shorten }}</strong>
      </span>
    </li>
  </ul>
</div>

<p>{{ todayDate | date: "fullDate" | uppercase }}</p>
<p>{{ todayDate | date: "yyyy-MM-dd" }}</p>
