<!-- ngStyle ejemplo -->
<p>
  Server with ID {{ serverId }} is
  <strong [ngStyle]="{ color: getColor() }">{{ getServerStatus() }}</strong>
</p>

<!-- ngClass ejemplo -->
<p>
  Server with ID {{ serverId }} is
  <strong
    [ngClass]="{ online: isServerOnline(), offline: !isServerOnline() }"
    >{{ getServerStatus() }}</strong
  >
</p>

<h3>Servers</h3>
<!-- Opcion property binding -->
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->

<!-- Opcion two-way-binding -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<p>{{ serverName }}</p>

<button class="btn btn-primary me-2" (click)="onApply()">Apply myname</button>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add new server
</button>

<p>{{ serverCreationStatus }}</p>

<p *ngIf="serverCreated">
  Se ha creado un servidor con el nombre de {{ serverName }}
</p>

<h3>Server list</h3>
<li *ngFor="let server of servers; let i = index">
  {{ i + 1 }} - {{ server.name }} - {{ server.status }}
</li>
